@model IEnumerable<TARgv22Shop.Models.Spaceship.SpaceshipIndexViewModel>

<div class="h1">
    Spaceships
</div>

@{
    int rowNumber = 1;
}

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Passangers</th>
                <th scope="col">Engine Power</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var spaceship in Model)
                {
                    <tr>
                        <td>@(rowNumber++)</td>
                        <td>@spaceship.Name</td>
                        <td>@spaceship.Type</td>
                        <td>@spaceship.Passengers</td>
                        <td>@spaceship.EnginePower</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</form>